
<div style="overflow:auto">
  <div style="display: inline-block;">
    <h2>Products from hybris</h2>
    <md-list dense>
      <h3 md-subheader>Products</h3>
      <md-list-item *ngFor="let product of products"
      [class.selected]="product === selectedProduct"
      (click)="onSelect(product)">
      >
        <!--img md-list-avatar [src]="#">-->
        <h4 md-line><b>{{product.name}}</b></h4>
        <p md-line> {{product.imageUrl}} </p>
        <p md-line class="demo-secondary-text">{{product.code}} </p>
      </md-list-item>
    </md-list>
  </div>
  <div style="display: inline-block; vertical-align:top; width:400px" >
    <h2>Product Details Panel</h2>
    <my-product-detail [product]="selectedProduct"></my-product-detail>
  </div>
 <div style="display: inline-block; vertical-align:top;" >
   <h2>Banners from hybris</h2>
   <div id="Section1">
   waiting...</div>
  </div>
</div>
